<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>QUORA</title>
  </head>
  <body>
    <h1>Quora Posts</h1>
    <% for(post of posts){ %>
    <div class="posts">
      <h3 class="user">@<%- post.username %></h3>
      <h4><%- post.content %></h4>
      <a href="http://localhost:3000/posts/<%= post.id %>"
        ><button>Show in detail</button></a
      >
      <a href="http://localhost:3000/posts/<%= post.id %>/edit"
        ><button>Edit Post</button></a
      >
      <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
        <button>Delete post</button>
      </form>
    </div>
    <% } %>
    <br />
    <br />
    <a href="http://localhost:3000/posts/new"
      ><button class="btn">Add New Post</button></a
    >
  </body>
</html>
